<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Panel</h5>
    <p class="card-text">    
      <p id="notice"><%= notice %></p>

      <h1>App Csv Configurations</h1>

      <table>
        <thead>
          <tr>
            <th>Ruta</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @app_csv_configurations.each do |app_csv_configuration| %>
            <tr>
              <td><%= app_csv_configuration.name %></td>
              <td><%#= link_to 'Show', app_csv_configuration %></td>
              <td><%= link_to 'Edit', edit_app_csv_configuration_path(app_csv_configuration) %></td>
              <td><%#= link_to 'Destroy', app_csv_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%#= link_to 'New App Csv Configuration', new_app_csv_configuration_path %>
    </p>
  </div>
</div>
