<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Panel AppCSVConfigurations</h5>
    <p class="card-text">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Ruta:</strong>
        <%= @app_csv_configuration.name %>
        <%#= "db.csv" %>
      </p>

      <%= link_to 'Edit', edit_app_csv_configuration_path(@app_csv_configuration) %> |
      <%= link_to 'Back', app_csv_configurations_path %>
    </p>
  </div>
</div>
